:root {
  --back_color_center: white;
  --borders_colors: white;
  --back_color_title: #f4fbe4;
}

.border-primary {
	border-color: var(--borders_colors) !important;
}
.bg-light {
	background-color: white !important;
}

.bg-main-title {
  background-color: #f4fbe4;
}

body {
	background: -webkit-linear-gradient(white, #aeb3f1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, #aeb3f1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, #aeb3f1); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, #aeb3f1); /* Standard syntax */
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 a {
	color: white;
}

/* CARDS SECTION =============*/
.news .card-title {
  color: white;
  border: 1px white solid;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  padding: 14px;
}
.events_card > h5 {
  background: #7751ff;

}

.news_card > h5 {
  background: #e33c93;

}

.shorcuts > h5 {
  background: #93ea62;

}

.list_item_date {
	border-radius: 50%;
	background-color: #ccc;
	padding: 3px;
}


/* FORMS ===================*/

.form_accounts {
  max-width: 400px;
}